#general{
    /* Encriptador - 1 Desktop */


position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
}

#logo{
    /* Logo */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;
}
#vector{
    /* Vector */


position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;


}


#botones{
    /* Frame 3 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;
}

.titulo{/* Ingrese el texto aqui */


position: absolute;
width: 577px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;
 }
#msj2{
    /* Ingresa el texto que desees encriptar o desencriptar. */


position: static;
width: 336px;
height: 48px;
left: 0px;
top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}


#msj{
    /* Ningún mensaje fue encontrado */


position: static;
width: 336px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.rectangulo         {
position: relative;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

}

#textoRectangulo {
    /* Frame 5 */


    

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 619px;
}

#muñeco {
    /* Muñeco */


position: absolute;
width: 336px;
height: 304px;
left: 1032px;
top: 283px;
}

#boton {
/* Diseño automatico */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 328px;
height: 67px;
left: 0px;
top: 0px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* diseño automático interior */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px; 
}

#textoBoton {
    /* Button */


position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;
}

#boton2{
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 328px;
height: 67px;
left: 352px;
top: 0px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;
}

#textoBoton2{
    /* Button */


position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;
}


#alert{
/* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 252px;
height: 18px;
left: 240px;
top: 851px;
}

#textAlert {
    /* Solo letras minúsculas y sin acentos */


position: static;
width: 205px;
height: 18px;
left: 24px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;

opacity: 0.8;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px
}

#icono{
    position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
}